@import url("https://www.fontstatic.com/f=hanimation");

@font-face {
  font-family: "hanimation";
}

body {
  padding: 0;
  margin: 0;
  font-family: "hanimation", Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

select {
  height: 3em;
  width: 3em;
  font-weight: 900;
  font-size: larger;
}
