@font-face {
  font-family: "Segoe UI";
  src: url("segoeui.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
  /* font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

select {
  height: 3em;
  width: 3em;
  font-weight: 900;
  font-size: larger;
}
